/*

Simple document for my experimentation and my own CSS commands

*/

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animatedPF {
    animation: fadeInUp 1s ease;
}
